<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Welcome @[[${spring_user.username}]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style type="text/css">
        body { background: #8f8f8f !important; }
        @media (min-width: 1200px) {
            .container {
                max-width: 500px;
            }
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }

        #content {
            z-index: 1;
        }

        .btn {
            margin-left: 2px !important;
            margin-right: 2px !important;
        }
    </style>
</head>
<body>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light sticky" th:fragment="navbar">
    <h2 class="mr-auto">@[[${spring_user.username}]]</h2>
    <a class="btn btn-primary" th:href="@{/message/view}">View All Messages</a>
    <a class="btn btn-primary" th:href="@{/message/new/form}">Create New Message</a>
    <a class="btn btn-primary" th:href="@{/logout}">Logout</a></span>
</nav>
    <span th:fragment="menu">
        <a class="btn btn-primary" th:href="@{/message/view}">View All Messages</a>
        <a class="btn btn-primary" th:href="@{/message/new/form}">Create New Message</a>
        <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
    </span>
    <script th:fragment="runtime_script">
        var prevScrollpos = window.pageYOffset;
        var navbar = document.getElementById("navbar");
        var spacer = document.getElementById("spacer");

        var navbarHeight = navbar.offsetHeight;

        spacer.style.height = (navbarHeight+10)+"px";
        window.onscroll = function() {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                navbar.style.top = "0";
            } else {
                navbar.style.top = "-"+navbarHeight+"px";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>
</body>
</html>