<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="f/base::head">
    <meta charset="UTF-8">
    <title>Welcome @[[${spring_user.username}]]</title>
</head>
<body>
<nav th:replace="f/base::navbar"></nav>
<div id="spacer" class="spacer"></div>
<div id="content" class="container">

<br />
    <div class="border rounded mx-auto" style="display:block;margin-bottom: 5px;" th:each="message :${MessageCollection}">
        <div class="card" style="width: 100%; " >
            <img th:src="${message.imageUrl}" class="card-img-top" th:if="${message.imageUrl} != null"/>
            <div class="card-body">
                <div class="card-title" >
                    <b>[[${message.user.name.first}]] [[${message.user.name.middle}]] [[${message.user.name.last}]]</b><br />
                    <span style="font-size: small"><b>@</b><a th:href="@{/message/view/{username}(username=${message.user.username})}">[[${message.user.username}]]</a> at [[${message.postedDate}]]<br /></span>
                    <hr />
                </div>
                <div class="card-text">
                    <div th:if="${message.imageUrl} != null">
                        <a style="font-size: smaller" th:href="${message.imageUrl}">[[${message.imageUrl}]]</a><br />
                    </div>
                    [[${message.content}]]
                </div>
            </div>
        </div>
    </div>

</div>
<<script th:replace="f/base::runtime_script"></script>


</body>
</html>